body {
    margin: 0;
    background-color: black;
}

h3, p {
    margin: 0;
    padding: 10px;
    flex-grow: 1;
    text-align: left;
}

.container {
    background-color: teal;
}

.about-me {
    background-color: teal;
    display: flex;
}

.about-text {
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.portrait-div {
    position: relative;
}

.portrait-div h3 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.portfolio {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.portfolio-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;

    background-color: white;
    border-radius: 10px;
    width: 280px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-card > div:first-child {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.screenshot {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card > div:nth-child(2) {
    display: flex;
    width: 100%;
}

.contact {
    background-color: teal;
}

.headshot {
    display: block;
    margin: 0;
    width: 200px;
    height: auto;
    border-radius: 10%;
}

.about-me, .portfolio, .contact {
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.links-right, .links-left {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.links-left {
    justify-content: left;
}

.links-right {
    justify-content: right;
}
  
.social-icon {
    width: 20px;
    height: auto;
}

.contact div {
    flex: 1;
}

.working-image {
    flex: 1;
    width: 200px;
    height: auto;
}